# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv

# IDE
.vscode

# Configuración local / entornos
.env
.env.example
.env.docker.gradio.example

# Bases de datos locales
*.db

# Docs y Notebooks
docs/
notebooks/

# Carpeta de datos que no quieres en la imagen
data/

# Git
.git*
